* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

header {
  padding: 30px;
}

h1  {
  text-transform: uppercase;
  font-family: 'Kosugi Maru', sans-serif;
}

img {
  border-radius: 50%;
}

.search-box {
  width: 38%;
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 30px;
}

.user-card {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "image info";
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.user-image {
  grid-area: image;
  margin: auto 0;
}
.info {
  grid-area: info;
}
.user-name {
  font-size: 1.2em;
}
.user-email, .user-city {
  font-size: .9em;
  color: lightgrey;
}
